{% extends 'base.html.twig' %}

{% block title %}Nouveau Musee{% endblock %}

{% block body %}
    <h3 class="ml-4">Créer un nouveau Musée</h3>

    {{ include('musee/_form.html.twig') }}

    <a href="{{ path('musee_index') }}" class="btn btn-warning m-4">Retour à la liste</a>
{% endblock %}
