{% extends 'base.html.twig' %}

{% block title %}Nouveau Pays{% endblock %}

{% block body %}
    <h3 class="ml-4">Enregistrer une nouvelle visite</h3>

    {{ include('visiter/_form.html.twig') }}

    <a href="{{ path('visiter_index') }}" class="btn btn-warning m-4">Retour à la liste</a>
{% endblock %}
