{% extends 'base.html.twig' %}

{% block title %}Editer le Référencement{% endblock %}

{% block body %}
    <h3 class="m-4">Editer le Référencement</h3>

    {{ include('referencer/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <form method="post" action="{{ path('referencer_delete', {'id': referencer.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimé ?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ referencer.id) }}">
        <button class="btn btn-danger ml-4">Supprimer</button>
    </form>

    <a href="{{ path('referencer_index') }}" class="btn btn-warning m-4">Retour à la liste</a>

{% endblock %}
