{% extends 'base.html.twig' %}

{% block title %}Nouveau Référencement{% endblock %}

{% block body %}
    <h3 class="ml-4">Créer un nouveau référencement</h3>

    {{ include('referencer/_form.html.twig') }}

    <a href="{{ path('referencer_index') }}" class="btn btn-warning m-4">Retour à la liste</a>
{% endblock %}
