{% extends 'base.html.twig' %}

{% block title %}Nouveau Ouvrage{% endblock %}

{% block body %}
    <h3 class="ml-4">Créer un nouvel ouvrage</h3>

    {{ include('ouvrage/_form.html.twig') }}

    <a href="{{ path('ouvrage_index') }}" class="btn btn-warning m-4">Retour à la liste</a>
{% endblock %}
