{% extends 'base.html.twig' %}

{% block title %}Modifier la Bibliotheque{% endblock %}

{% block body %}
    <h3 class="m-4">Modifier la Bibliotheque</h3>

    {{ include('bibliotheque/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <form method="post" action="{{ path('bibliotheque_delete', {'id': bibliotheque.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimé ?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bibliotheque.id) }}">
        <button class="btn btn-danger ml-4">Supprimer</button>
    </form>

    <a href="{{ path('bibliotheque_index') }}" class="btn btn-warning m-4">Retour à la liste</a>

{% endblock %}
